[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DemografixeR"]
	path = DemografixeR
	url = https://github.com/matbmeijer/demografixer
